* { -moz-box-sizing: border-bos; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
	background-color: #b69871;
}

header h1 {
	text-indent: -9999px;
	background-image: url("../img/banner.png");
	width: 100%;
	height: 125px;
	background-repeat: no-repeat;
	background-color: #35000c;
	background-position: bottom left;
}

body {
	font-family: sans-serif;
	font-size: small;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	max-width: 805px;
	min-width: 525px;
}

h1, h2, li {
	font-family: 'Francois One', sans-serif;
}

a {
	text-decoration: none;
}

main {
	position: relative;
}

section {
	background-color: #f0e7da;
	padding: 10px;
}

section h2 {
	font-size: 2.5em;
	color: #35000c;
}

article {
	clear: both;
	margin: 5px 10px 25px 0;
	font-size: 1.2em;
}

article img {
	float: left;
	margin: 10px 20px 10px 5px;
}

article h2 {
	font-family: 'Pacifico', cursive;
	font-size: 1.8em;
	margin: 0 0 5px 0;
}

article h2 a:link {
	color: #d67429;
}

article h2 a:hover {
	color: #35000c;
}

#topnav ul {
	color: white;
	text-align: center;
	background-color: #35000c;
	height: 2.7em;
	width: 100%;
	margin: 5px 0 10px 0;
}

#topnav li {
	display: inline-block;
	float: left;
	padding: .8em .8em;
	border-right: 5px #b69871 solid;
}

#topnav a:link {
	color: white;
}

#topnav a:hover {
	color: #b69871;
}

#sidenav {
	color: #35000c;
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 400px;
	width: 200px;
	background-color: #ceb595;
	margin-left: 10px;
	border-left: 10px #b69871 solid;
}

#sidenav li {
	border-bottom: 5px #b69871 solid;
}

#sidenav a:link {
	color: #35000c;
	line-height: 1.7em;
}

#sidenav a:hover {
	color: white;
}

#holiday {
	text-indent: -9999px;
	background-image: url(../img/fall.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
	margin: 10px 0 10px 0;
}

#banner {
	color: white;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	line-height: 2em;
	background-color: #f59e3d;
	width: 100%;
	padding: 10px;
	margin: 10px 0 10px 0;
	border: 3px white dashed;
}

#banner a:link {
	color: white;
	padding-right: 20px;
}

#pumpkin {
	text-indent: -9999px;
	background-image: url(../img/pumpkin.png);
	background-repeat: no-repeat;
	width: 354px;
	height: 500px;
	position: fixed;
	top: 0px;
	right: 20px;
	z-index: 3;
}

footer {
	color: #35000c;
	background-color: #ceb595;
	font-size: .8em;
	margin: 10px 0 40px 0;
	padding: 5px;
	clear: both;
}

footer p {
	margin-bottom: 5px;
}

footer a {
	color: #d67429;
}